@import '@/styles/variables';

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: center;

  margin-top: 3rem;
  font-family: 'Abel', sans-serif;

  .pagination-item {
    box-sizing: content-box;
    padding: 0 13px;
    min-height: 36px;
    text-align: center;
    margin: auto 4px;
    color: $primary;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 24px;
    line-height: 1.43;
    font-size: 1rem;
    min-width: 36px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: $primary;
      color: $secondary;
      font-size: 1.5rem;
      border: 2px solid $secondary;
      outline: 2px solid $primary;
      padding: 0 10px;
    }
  }
}
