@import '@/styles/variables';

header {
    background: $primary;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        padding: 20px 0;
        color: $secondary;
        font-family: 'Abel', sans-serif;
        font-weight: 400;
        font-size: 40px;
    }
}