@import '@/styles/variables';
.container {
  background: $bgCard;
  margin: 3rem 0;

  .title {
    background: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.8rem 3rem;

    h2 {
      font-family: 'Abel', sans-serif;
      color: $primary;
      font-weight: 400;
      font-size: 1.8rem;
    }

    h4 {
      color: #777;
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      font-size: 0.8rem;
    }
  }

  .detail {
    display: flex;
    flex-direction: column-reverse;

    .info {
      margin: 0.8rem 3rem;

      h3 {
        padding: 0.3rem 0;
        color: $primary;
        font-family: 'Abel', sans-serif;
        font-weight: 200;
        font-size: 1.4rem;
        border-bottom: 1px solid $secondary;
      }

      .synopsis {
        margin: 1.25rem 0 2rem;
        font-family: 'Lato', sans-serif;
        color: #444;
      }

      .movieInfos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        margin: 1.5rem 0 3.5rem;
        text-align: center;

        h4 {
          color: $primary;
          font-family: 'Abel', sans-serif;
          font-weight: 400;
          font-size: 1.2rem;
        }

        p {
          font-size: 0.8rem;
          font-family: 'Lato', sans-serif;
          color: #444;
        }
      }
    }

    .tagsScore {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      max-width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 4rem;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    .title {
      h2 {
        font-size: 2.2rem;
      }

      h4 {
        font-size: 1rem;
      }
    }

    .detail {
      flex-direction: row;
    }
    img {
      height: 330px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    .detail {
      flex-direction: row;

      .tagsScore {
        flex-direction: row;
      }
    }

    img {
      height: auto;
    }
  }
}
