@import '@/styles/variables';

input {
  background: $bgCard;
  color: $primary;
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  width: 100%;
  border-radius: 20px;
  border: 0;
  outline: 0;
  padding: 12px 30px;
  margin-bottom: 40px;
  font-size: 16px;

  &::placeholder {
    color: #84aac2;
  }
}
